/* Figma Styles of your File */
:root {
  /* Colors */
  --lightest-grey: #d9d9d9;
  --darkest-font: #3f3a35;
  --medium-grey: #7c7d77;
  --darkest-orange: #bc5c12;
  --bright-orange: #e58715;
  --light-beige: #cdc3b4;
  --medium-taupe: #b39b81;

  /* Fonts */
  --headline-1-font-family: Lato-SemiBold, sans-serif;
  --headline-1-font-size: 40px;
  --headline-1-line-height: 30px;
  --headline-1-font-weight: 600;
  --headline-1-font-style: normal;
  --headline-2-font-family: Lato-Regular, sans-serif;
  --headline-2-font-size: 24px;
  --headline-2-line-height: normal;
  --headline-2-font-weight: 400;
  --headline-2-font-style: normal;
  --regular-text-font-family: Lato-Regular, sans-serif;
  --regular-text-font-size: 18px;
  --regular-text-line-height: normal;
  --regular-text-font-weight: 400;
  --regular-text-font-style: normal;
  --regular-text-bold-font-family: Lato-Bold, sans-serif;
  --regular-text-bold-font-size: 18px;
  --regular-text-bold-line-height: normal;
  --regular-text-bold-font-weight: 700;
  --regular-text-bold-font-style: normal;
  --smaller-text-font-family: Lato-Regular, sans-serif;
  --smaller-text-font-size: 10px;
  --smaller-text-line-height: normal;
  --smaller-text-font-weight: 400;
  --smaller-text-font-style: normal;
  --button-text-font-family: Lato-Bold, sans-serif;
  --button-text-font-size: 14px;
  --button-text-line-height: 20px;
  --button-text-font-weight: 700;
  --button-text-font-style: normal;
  --nunito-font-family: Nunito-Bold, sans-serif;
  --nunito-font-size: 30px;
  --nunito-line-height: 30px;
  --nunito-font-weight: 700;
  --nunito-font-style: normal;
  --text-font-family: Mistral-Regular, sans-serif;
  --text-font-size: 20px;
  --text-line-height: 20px;
  --text-font-weight: 400;
  --text-font-style: normal;

  /* Effects */
}
